USE [master]
GO
/****** Object:  Database [Billing_System_Gold]    Script Date: 04-05-2026 18:18:37 ******/
CREATE DATABASE [Billing_System_Gold]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Billing_System_Gold', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Billing_System_Gold.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Billing_System_Gold_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Billing_System_Gold_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Billing_System_Gold].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Billing_System_Gold]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 04-05-2026 18:18:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 04-05-2026 18:18:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](120) NOT NULL,
	[Mobile] [nvarchar](20) NULL,
	[Email] [nvarchar](240) NULL,
	[Pan] [nvarchar](20) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExchangeLines]    Script Date: 04-05-2026 18:18:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExchangeLines](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceId] [int] NOT NULL,
	[PurityKarat] [int] NOT NULL,
	[GrossWeightG] [decimal](18, 3) NOT NULL,
	[NetWeightG] [decimal](18, 3) NOT NULL,
	[RatePerGramUsed] [decimal](18, 2) NOT NULL,
	[DeductionAmount] [decimal](18, 2) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_ExchangeLines] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoldRates]    Script Date: 04-05-2026 18:18:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoldRates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EffectiveAt] [datetime2](7) NOT NULL,
	[Rate24KPerGram] [decimal](18, 2) NOT NULL,
	[Rate22KPerGram] [decimal](18, 2) NOT NULL,
	[Rate18KPerGram] [decimal](18, 2) NOT NULL,
	[SilverRatePerGram] [decimal](18, 2) NULL,
	[Buyback24KPerGram] [decimal](18, 2) NULL,
	[Buyback22KPerGram] [decimal](18, 2) NULL,
	[Buyback18KPerGram] [decimal](18, 2) NULL,
 CONSTRAINT [PK_GoldRates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceLines]    Script Date: 04-05-2026 18:18:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceLines](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceId] [int] NOT NULL,
	[StockTagId] [int] NULL,
	[Description] [nvarchar](240) NOT NULL,
	[PurityKarat] [int] NOT NULL,
	[GrossWeightG] [decimal](18, 3) NOT NULL,
	[StoneWeightG] [decimal](18, 3) NOT NULL,
	[NetWeightG] [decimal](18, 3) NOT NULL,
	[RatePerGramUsed] [decimal](18, 2) NOT NULL,
	[WastageG] [decimal](18, 3) NOT NULL,
	[MakingCharge] [decimal](18, 2) NOT NULL,
	[StoneAmount] [decimal](18, 2) NOT NULL,
	[MetalValue] [decimal](18, 2) NOT NULL,
	[LineSubtotal] [decimal](18, 2) NOT NULL,
	[GstAmount] [decimal](18, 2) NOT NULL,
	[LineTotal] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_InvoiceLines] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 04-05-2026 18:18:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[CustomerId] [int] NULL,
	[GoldRateId] [int] NOT NULL,
	[Subtotal] [decimal](18, 2) NOT NULL,
	[GstRate] [decimal](9, 6) NOT NULL,
	[GstAmount] [decimal](18, 2) NOT NULL,
	[OldGoldDeduction] [decimal](18, 2) NOT NULL,
	[GrandTotal] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Invoices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockTags]    Script Date: 04-05-2026 18:18:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockTags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TagNo] [nvarchar](40) NOT NULL,
	[ItemName] [nvarchar](160) NOT NULL,
	[Category] [nvarchar](80) NULL,
	[Hsn] [nvarchar](20) NULL,
	[PurityKarat] [int] NOT NULL,
	[GrossWeightG] [decimal](18, 3) NOT NULL,
	[StoneWeightG] [decimal](18, 3) NOT NULL,
	[NetWeightG] [decimal](18, 3) NOT NULL,
	[WastageType] [int] NOT NULL,
	[WastageValue] [decimal](18, 3) NOT NULL,
	[MakingChargeType] [int] NOT NULL,
	[MakingChargeRate] [decimal](18, 2) NOT NULL,
	[StoneAmount] [decimal](18, 2) NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_StockTags] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260430143311_InitialGoldSchema', N'9.0.15')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260503231859_AddQuantityToStockTag', N'9.0.15')
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [Name], [Mobile], [Email], [Pan], [CreatedAt]) VALUES (1, N'Faheem Aslam M', N'9786590781', N'faheemasla786@gmail.com', NULL, CAST(N'2026-05-01T06:06:05.7159736' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[GoldRates] ON 

INSERT [dbo].[GoldRates] ([Id], [EffectiveAt], [Rate24KPerGram], [Rate22KPerGram], [Rate18KPerGram], [SilverRatePerGram], [Buyback24KPerGram], [Buyback22KPerGram], [Buyback18KPerGram]) VALUES (1, CAST(N'2026-05-01T06:05:20.8968393' AS DateTime2), CAST(7500.00 AS Decimal(18, 2)), CAST(6900.00 AS Decimal(18, 2)), CAST(5600.00 AS Decimal(18, 2)), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[GoldRates] OFF
GO
SET IDENTITY_INSERT [dbo].[InvoiceLines] ON 

SET IDENTITY_INSERT [dbo].[InvoiceLines] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoices] ON 

INSERT [dbo].[Invoices] ([Id], [Date], [CustomerId], [GoldRateId], [Subtotal], [GstRate], [GstAmount], [OldGoldDeduction], [GrandTotal]) VALUES (1, CAST(N'2026-05-01T06:06:05.7597224' AS DateTime2), 1, 1, CAST(342466.70 AS Decimal(18, 2)), CAST(0.030000 AS Decimal(9, 6)), CAST(10274.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(352740.70 AS Decimal(18, 2)))
INSERT [dbo].[Invoices] ([Id], [Date], [CustomerId], [GoldRateId], [Subtotal], [GstRate], [GstAmount], [OldGoldDeduction], [GrandTotal]) VALUES (2, CAST(N'2026-05-02T08:26:24.8887740' AS DateTime2), 1, 1, CAST(158946.89 AS Decimal(18, 2)), CAST(0.030000 AS Decimal(9, 6)), CAST(4768.41 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(163715.30 AS Decimal(18, 2)))
INSERT [dbo].[Invoices] ([Id], [Date], [CustomerId], [GoldRateId], [Subtotal], [GstRate], [GstAmount], [OldGoldDeduction], [GrandTotal]) VALUES (3, CAST(N'2026-05-03T06:00:04.3602376' AS DateTime2), 1, 1, CAST(100470.56 AS Decimal(18, 2)), CAST(0.030000 AS Decimal(9, 6)), CAST(3014.12 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(103484.68 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Invoices] OFF
GO
SET IDENTITY_INSERT [dbo].[StockTags] ON 

SET IDENTITY_INSERT [dbo].[StockTags] OFF
GO
/****** Object:  Index [IX_ExchangeLines_InvoiceId]    Script Date: 04-05-2026 18:18:38 ******/
CREATE NONCLUSTERED INDEX [IX_ExchangeLines_InvoiceId] ON [dbo].[ExchangeLines]
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GoldRates_EffectiveAt]    Script Date: 04-05-2026 18:18:38 ******/
CREATE NONCLUSTERED INDEX [IX_GoldRates_EffectiveAt] ON [dbo].[GoldRates]
(
	[EffectiveAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InvoiceLines_InvoiceId]    Script Date: 04-05-2026 18:18:38 ******/
CREATE NONCLUSTERED INDEX [IX_InvoiceLines_InvoiceId] ON [dbo].[InvoiceLines]
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InvoiceLines_StockTagId]    Script Date: 04-05-2026 18:18:38 ******/
CREATE NONCLUSTERED INDEX [IX_InvoiceLines_StockTagId] ON [dbo].[InvoiceLines]
(
	[StockTagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Invoices_CustomerId]    Script Date: 04-05-2026 18:18:38 ******/
CREATE NONCLUSTERED INDEX [IX_Invoices_CustomerId] ON [dbo].[Invoices]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Invoices_GoldRateId]    Script Date: 04-05-2026 18:18:38 ******/
CREATE NONCLUSTERED INDEX [IX_Invoices_GoldRateId] ON [dbo].[Invoices]
(
	[GoldRateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_StockTags_TagNo]    Script Date: 04-05-2026 18:18:38 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_StockTags_TagNo] ON [dbo].[StockTags]
(
	[TagNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StockTags] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[ExchangeLines]  WITH CHECK ADD  CONSTRAINT [FK_ExchangeLines_Invoices_InvoiceId] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoices] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ExchangeLines] CHECK CONSTRAINT [FK_ExchangeLines_Invoices_InvoiceId]
GO
ALTER TABLE [dbo].[InvoiceLines]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceLines_Invoices_InvoiceId] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoices] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceLines] CHECK CONSTRAINT [FK_InvoiceLines_Invoices_InvoiceId]
GO
ALTER TABLE [dbo].[InvoiceLines]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceLines_StockTags_StockTagId] FOREIGN KEY([StockTagId])
REFERENCES [dbo].[StockTags] ([Id])
GO
ALTER TABLE [dbo].[InvoiceLines] CHECK CONSTRAINT [FK_InvoiceLines_StockTags_StockTagId]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Customers_CustomerId]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_GoldRates_GoldRateId] FOREIGN KEY([GoldRateId])
REFERENCES [dbo].[GoldRates] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_GoldRates_GoldRateId]
GO
USE [master]
GO
